html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    outline: 1px red solid;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET*/

body {
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

#bg-img-main {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

#main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;

    text-align: center;
}

h1 {
    font-size: 70px;
    color: #f7f6ed;
    text-decoration: underline #d66e1d 20px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1:hover {
    text-decoration: underline #7ba535 20px;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100vw;
    z-index: 20;

    background-color: #f7f6ed;
}

#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

#nav-logo {
    height: 8vh;
    margin: 1vh;

    z-index: 100;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#hamburger {
    width: 8vh;
    height: 8vh;
    border: 2px solid #7ba535;
    border-radius: 1px;
    margin: 1vh;

    background-color: transparent;
    z-index: 100;

    color: #842361;
    font-size: x-large;
    text-align: center;
}

#nav-list {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 25;

    font-weight: 700;

    transition: 400ms;
    background-color: #f7f6ed;
}
#nav-list.show {
    top: 0;
}

.nav-item {
    margin-left: 20px;

    font-size: 45px;
    text-transform: uppercase;
}

.nav-item a {
    text-decoration: none;
    color: #d66e1d;
}
.nav-item a:hover {
    color: #d66e1d;
    text-decoration: underline 2px #7ba535;
}

/*Cards section css*/

#cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100vw;

    margin: 80px 0px;
}

.card {
    position: relative;

    width: 80%;
    min-width: 280px;

    margin: 30px 20px;
    padding: 10px;
    border-radius: 2px;
    background-image: linear-gradient(#bfd795 0%,#f7f6ed 80%);
    background-color: #7ba535;
    box-shadow: 10px 10px 20px #00000044;

    text-align: center;

}


.card img {
    width: 100%;
    height: auto;

    filter: grayscale(10%);
    transition: filter;
    transition-duration: 400ms;
}

.card:hover img {
    filter: grayscale(100%) brightness(20%);
}

.card h3 {
    margin: 25px 0px 20px 0px;

    font-size: 32px;
    color: #842361;
    text-shadow: 2px 2px 3px #84236188;
}

.card p {
    position: absolute;
    left: 50%;
    top: 41%;

    width: 80%;
    

    font-size: calc(12px + 1.35vw);
    line-height: 6vw;
    color: #bfd795;
    opacity: 0;
    
    transform: translate(-50%, -50%) scale(1.2);
    transition: opacity, transform;
    transition-duration: 200ms;
}

.card:hover p {
    opacity: 1;
    transform: translate(-50%, -50%);
}


/*Rólunk és Önkéntesség*/

main article {
    padding: 15px; 

    background-color: #f7f6ed;

    text-align: justify;
    line-height: 4vw;
}

main section {
    padding: 15px;

    text-align: justify;
    line-height: 4vw;
}

/*Rólunk-article (id="about-us") és Donation-section (id="donation")*/

main article#about-us h2 {
    margin: 30px 0px 20px;

    font-size: 36px;
    color: #d66e1d;
}

main article#about-us h4 {
    padding: 15px 5px 5px;

    font-size: 20px;
    color: #d66e1d;
}


ul#activities-list li {
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;

    margin: 10px 20px;
}

button#get-to-know {
    position: relative;
    left: 50%;

    border-radius: 5px;

    background-color: #bfd795;

    color: #842361;
    font-size: 16px;
    font-weight: 700;

    transform: translateX(-50%);
}

section#donation {
    position: relative;
    padding: 15px 20px 50px; 

    background-color: #842361;

    text-align: center;
    color: #f7f6ed;
    font-size: 18px;
}

img[alt="Közös kutyasétáltatás"] {
    position: relative;
    left: 50%;
   
    width: 90vw;
    margin: 20px 10px;
    
    transform: translateX(-50%);
}

#donation-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    border-radius: 5px;

    background-color: #f7f6ed;
    box-shadow: 0px 2px 5px #f7f6ed;

    color: #7ba535;
    font-size: 18px;
    font-weight: 700;

    transform: translateX(-50%);
}

/*Önkéntesség-article (id="volunteering") és Volunteering-section (id="volunteering")*/

section#volunteering {
    position: relative;

    padding: 15px 20px 50px; 

    background-color: #d66e1d;

    font-size: 18px; 
    color: #f7f6ed;
    text-align: center;
}

main article#volunteering h2 {
    padding: 30px 0px 20px;

    font-size: 36px;
    color: #d66e1d;
}

main article#volunteering h4 {
    padding: 15px 0px 5px;

    font-size: 20px;
    color: #d66e1d;
}

ul#volunteering-list li {
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;

    margin: 5px 20px;
}

img[alt="Egy lelkes önkéntesünk"] {
    position: relative;
    left: 50%;
   
    width: 90vw;
    margin: 20px 10px;
    
    transform: translateX(-50%);
}

#volunteering-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    border-radius: 5px;

    background-color: #f7f6ed;
    box-shadow: 0px 2px 5px #f7f6ed;

    font-size: 18px;
    font-weight: 700;
    color: #7ba535;

    transform: translateX(-50%);
}