html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END CSS RESET*/

body {
    font-family: 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Quicksand', sans-serif;
}

#bg-img-main {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

#main-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;

    text-align: center;
}

h1 {
    font-size: 50px;
    color: #f7f6ed;
    text-decoration: underline #d66e1d 20px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1:hover {
    text-decoration: underline #7ba535 20px;
}

/* NAVBAR */
header {
    position: fixed;
    width: 100vw;
    z-index: 20;

    background-color: #f7f6ed;
}

#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

#nav-logo {
    height: 8vh;
    margin: 1vh;

    z-index: 100;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#hamburger {
    width: 8vh;
    height: 8vh;
    border: 2px solid #7ba535;
    border-radius: 1px;
    margin: 1vh;

    background-color: transparent;
    z-index: 100;

    color: #842361;
    font-size: x-large;
    text-align: center;
}

#nav-list {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    z-index: 25;

    font-weight: 700;
    text-align: center;

    transition: 400ms;
    background-color: #f7f6ed;
}
#nav-list.show {
    top: 0;
}

.nav-item {
    margin-left: 20px;

    font-size: 45px;
    text-transform: uppercase;
}

.nav-item a {
    text-decoration: none;
    color: #d66e1d;
}
.nav-item a:hover {
    color: #d66e1d;
    text-decoration: underline 2px #7ba535;
}